html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Lato", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(100, 100, 100);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(37, 37, 37);
}

.mobile__nav {
  position: fixed;
  z-index: 300;
  top: 90px;
  right: 0;

  /* backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.2); */
  background-color: rgba(5, 5, 5, 0.99);
  box-shadow: 0px 0px 50px 0px rgb(0, 0, 0);
  width: 80vw;
  height: 100%;
  display: none;
}

.main {
  backface-visibility: hidden;
  background-image: linear-gradient(
      180deg,
      rgba(117, 117, 117, 0.6) 25%,
      rgba(0, 0, 0, 0.9) 70%
    ),
    url(./img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  animation: slideBg 40s linear infinite 0s;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}
#navbar {
  /* position: fixed; */
  top: 0px;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 30px 10px; */
  height: clamp(50px, 7vw + 2rem, 10vh);
  width: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}
/* .aaa {
  display: flex;
  margin-top: 30px;
  width: 100%;
} */
.sticky {
  position: fixed;
  top: 0px;
}
.header__logo {
  /* width: 70px; */
  width: clamp(70px, 7vw + 3rem, 15vh);
}
.header__burger {
  /* border: 1px solid black; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 30px;
  height: 25px;
  fill: black;
  z-index: 200;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 100px; */
  /* margin-top: 120px; */
  margin-top: clamp(150px, 15vw + 5rem, 20vh) ;
  margin-bottom: 120px;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  padding-inline: 10px;
}
.hero__header {
  font-size: clamp(1.9rem, 3vw + 1rem, 4rem);
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0.2rem;
  color: rgb(255, 255, 255);
  width: min-content;
  /* margin-inline: 10px; */
  position: relative;
}
.hero__header--big {
  font-size: clamp(2.5rem, 5vw + 1rem, 6rem);
  font-weight: 600;
}

.hero__description {
  color: rgba(255, 255, 255, 0.5);
  text-align: justify;
  margin-inline: 10px;
  font-size: clamp(0.6rem, 2vw - 0.2rem, 0.8rem);
  letter-spacing: 0.25rem;
  font-weight: 300;
  line-height: 1.3em;
  /* max-width: 420px; */
  align-self: center;
  position: relative;
}

.hero__buttons {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  /* width: 100%; */
  margin-block: 20px;
}
.hero__buttons li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;

  padding: 10px 25px;

  text-align: center;
  border: 2px solid black;
  text-transform: capitalize;
  border: none;
  border-radius: 20px;
  backdrop-filter: blur(1px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.kontakt {
  background-color: rgb(6, 81, 167);
  color: white;
}
.galeria {
  /* background-color: rgb(75, 75, 75);
  color: rgb(255, 255, 255); */
  background-color: white;
  color: rgb(6, 81, 167);
}

.hero__arrow {
  width: 25px;
  height: 25px;
  fill: white;
  position: absolute;
  bottom: 10px;
  left: 48%;
  /* transform: translateX(-50%); */
  /* border: 1px solid white; */
  border-radius: 50%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}
.container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

h2 {
  font-size: 3em;
  font-weight: 600;
  color: rgb(0, 0, 0);
  position: relative;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-top: 8vw;
  margin-bottom: 8vw;
}
h2::after{
  content: " ";
  background-color: white;
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  top: 27px;
}
.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-inline: 5vw;
}
.about__description {
  text-align: center;
  color: rgb(0, 0, 0);
  line-height: 1.3rem;
  font-size: 0.8rem;
  font-weight: 600;
  max-width: 420px;
  position: relative;
  letter-spacing: 0.1rem;
  margin: 20px;
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.services {
  /* min-width: 300px; */
  width: clamp(350px, 1vw + 2rem, 300px);
  min-height: 550px;
  margin-inline: 20px;
  margin-bottom: 100px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
  background-color: #dcdee0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* align-items: center;
  justify-content: center; */
  position: relative;
  padding: 0; 
  overflow: hidden;
  z-index: 0;
  
}
.services:hover .services__description{
transform: translateY(140%);
/* -webkit-transform: translateY(140%); */
}
.services:hover .aaa{
transform: translateY(-110%);
/* -webkit-transform: translateY(-110%); */
}
.aaa{
  transition: transform 0.5s ease;

}
.services__description{
  
  transition: transform 0.5s ease;
  transform: translateY(310%);
  right:0;
  opacity: 70%;
  text-align: end;
  width: 320px;
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.3rem;
  font-weight: 400;
  padding: 20px;
  color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px ;
  /* -webkit-transform: translateY(210%); */
  position: absolute;
}
.services--one {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.7) 90%
    ),
    url("./img/instalacja.png");
}
.services--two {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.7) 90%
    ),
    url("./img/konstrukcje.png");
}
.services--three {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.7) 90%
    ),
    url("./img/rysunek.png");
}
.services--four {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.7) 90%
    ),
    url("./img/giętarka.jpg");
}
.services__info {
  margin: auto;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  /* background-color: rgba(15, 14, 14, 0.8); */
  color: white;
  /* background-color: rgba(255, 255, 255, 0.9);
  color: rgb(6, 81, 167); */
  /* backdrop-filter: blur(5px); */
}
.icon-info {
  width: 20px;
  height: 20px;
  fill: white;
  position: absolute;
  right: 15px;
  top: 15px;
}
.certificates {
  box-shadow: none;
}
.certificates__container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  position: relative;
}
.certificates__img {
  width: 100px;
  height: 100px;
}
.certificates__header {
  margin-bottom: 50px;
}

.contact {
}
/* ------------------------ANIMATIONS----------------------- */

@keyframes slideBg {
  0% {
    background-image: linear-gradient(
        180deg,
        rgba(37, 37, 37, 0.6) 25%,
        rgba(0, 0, 0, 0.85) 70%
      ),
      url("./img/bg1.png");
    background-position-x: 20%;
  }

  50% {
    background-image: linear-gradient(
        180deg,
        rgba(37, 37, 37, 0.6) 25%,
        rgba(0, 0, 0, 0.85) 70%
      ),
      url("./img/bg2.png");
    background-position-x: 40%;
  }
  100% {
    background-image: linear-gradient(
        180deg,
        rgba(37, 37, 37, 0.6) 25%,
        rgba(0, 0, 0, 0.85) 70%
      ),
      url("./img/bg3.png");
    background-position-x: 50%;
  }
}
@-webkit-keyframes slideBg {
  0% {
    background-image: linear-gradient(
        180deg,
        rgba(37, 37, 37, 0.6) 25%,
        rgba(0, 0, 0, 0.85) 70%
      ),
      url("./img/bg1.png");
    background-position-x: 20%;
  }

  50% {
    background-image: linear-gradient(
        180deg,
        rgba(37, 37, 37, 0.6) 25%,
        rgba(0, 0, 0, 0.85) 70%
      ),
      url("./img/bg2.png");
    background-position-x: 40%;
  }
  100% {
    background-image: linear-gradient(
        180deg,
        rgba(37, 37, 37, 0.6) 25%,
        rgba(0, 0, 0, 0.85) 70%
      ),
      url("./img/bg3.png");
    background-position-x: 50%;
  }
}

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 2s;
}
@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}
@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}
