html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Lato", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(37, 37, 37);
}

::after,
::before {
  opacity: 0;
}

.mobile__nav {
  position: fixed;
  z-index: 300;
  top: 90px;
  right: 0;

  /* backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.2); */
  background-color: rgba(5, 5, 5, 0.99);
  box-shadow: 0px 0px 50px 0px rgb(0, 0, 0);
  width: 80vw;
  height: 100%;
  display: none;
}

.main {
  backface-visibility: hidden;
  background-image: linear-gradient(
      180deg,
      rgba(117, 117, 117, 0.6) 25%,
      rgba(0, 0, 0, 0.9) 70%
    ),
    url(./img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  animation: slideBg 40s linear infinite 0s;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 50px 0px rgb(0, 0, 0);
}
#navbar {
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  height: 80px;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.9);
  /* background-color: rgba(229, 255, 0, 0.4); */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}
/* .aaa {
  display: flex;
  margin-top: 30px;
  width: 100%;
} */
.sticky {
  position: fixed;
  top: 0px;
}
.header__logo {
  width: 150px;
}
.header__burger {
  /* border: 1px solid black; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 35px;
  height: 30px;
  fill: black;
  z-index: 200;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 110px;
  margin-top: 150px;
  margin-bottom: 100px;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  padding-inline: 10px;
}
.hero__header {
  font-size: 1.9em;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0.2rem;
  color: rgb(255, 255, 255);
  width: min-content;
  /* margin-inline: 10px; */
  position: relative;
}
.hero__header--big {
  font-size: 2.8rem;
}
.hero__header::after {
  content: "";
  margin-top: 5px;
  display: block;
  width: 50vw;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: -10px;
  top: -20px;
}
.hero__description {
  color: rgba(255, 255, 255, 0.6);
  text-align: justify;
  /* margin-inline: 10px; */
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  line-height: 1.2em;
  max-width: 420px;
  align-self: center;
  position: relative;
}
.hero__description::after {
  content: "";
  margin-top: 10px;
  display: block;
  width: 50vw;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  right: -10px;
}
.hero__buttons {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  /* width: 100%; */
  margin-top: 20px;
}
.hero__buttons li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;

  padding: 10px 25px;

  text-align: center;
  border: 1px solid black;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  backdrop-filter: blur(1px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.kontakt {
  background-color: rgb(6, 81, 167);
  color: white;
}
.galeria {
  background-color: rgb(75, 75, 75);
  color: rgb(255, 255, 255);
}

.hero__arrow {
  width: 25px;
  height: 25px;
  fill: white;
  position: absolute;
  bottom: 10px;
  left: 48%;
  /* transform: translateX(-50%); */
  /* border: 1px solid white; */
  border-radius: 50%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
section {
  margin-inline: 20px;
  margin-block: 50px 50px;
  padding: 50px 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: #dcdee0;
}

.about {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 2.5em;
  letter-spacing: 0rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
  position: relative;
  width: 100%;
  align-self: flex-end;
  text-transform: uppercase;
  text-align: justify;
  margin-bottom: 20px;
}
h2::after {
  content: "";
  display: block;
  width: 50vw;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: -10px;
  top: -50px;
}
.about__description {
  text-align: justify;
  color: rgb(0, 0, 0);
  line-height: 1.2rem;
  font-size: 1rem;
  font-weight: 400;
  /* max-width: 420px; */
  position: relative;
  /* letter-spacing: 0.2rem; */
}
.about__description::before {
  content: "";
  display: block;
  width: 50vw;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -10px;
  bottom: -50px;
}
.services {
  background-image: url("./img/instalacja.png");
  height: 90vh;
  /* background-attachment: scroll; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  /* align-items: flex-start; */
  align-items: flex-end;
  justify-content: center;
  position: relative;
  padding: 0;
  margin-inline: 0;
}
.services--two {
  background-image: url("./img/konstrukcje.png");
}
.services__description {
  bottom: 10px;
  top: 0;
  /* top: 89px; */
  margin-block: 10px;
  position: sticky;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  width: 95%;
  border-radius: 5px;
  padding-block: 20px;
  padding-inline: 10px;
  background-color: rgb(75, 75, 75, 0.9);
  color: white;
  backdrop-filter: blur(5px);
}
.certificates {
  box-shadow: none;
}
.certificates__container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  position: relative;
}
.certificates__img {
  width: 100px;
  height: 100px;
}
.certificates__header {
  margin-bottom: 50px;
}
.certificates__header::after {
  content: "";
  display: block;
  width: 50vw;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -10px;
  bottom: -50px;
}
.certificates__container::before {
  content: "";
  display: block;
  width: 50vw;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: -10px;
  bottom: -50px;
}
.contact {
  background-color: #006199;
}
.contact h2 {
  color: white;
}
/* ------------------------ANIMATIONS----------------------- */

@keyframes slideBg {
  0% {
    background-image: linear-gradient(
        180deg,
        rgba(37, 37, 37, 0.6) 25%,
        rgba(0, 0, 0, 0.85) 70%
      ),
      url("./img/bg1.png");
    background-position-x: 20%;
  }

  50% {
    background-image: linear-gradient(
        180deg,
        rgba(37, 37, 37, 0.6) 25%,
        rgba(0, 0, 0, 0.85) 70%
      ),
      url("./img/bg2.png");
    background-position-x: 40%;
  }
  100% {
    background-image: linear-gradient(
        180deg,
        rgba(37, 37, 37, 0.6) 25%,
        rgba(0, 0, 0, 0.85) 70%
      ),
      url("./img/bg3.png");
    background-position-x: 50%;
  }
}

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 10s;
}
@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}
@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}
